<!DOCTYPE html>
<html>
  <head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title %> -- k.buy电商平台demo</title>
  </head>
<body>
  <%= require('html-loader!./layout/nav.html') %>
  <%= require('html-loader!./layout/head-search.html') %>
  <div class="nav-bar">
    <div class="w">
      <div class="nav-bar-content">
        <a class="link-text" href="./index.html" title="">K.Buy</a>
        <span>&gt;</span>
        <span class="link-text"><%= htmlWebpackPlugin.options.title %></span>
      </div>
    </div>
  </div>

  <div class="page-wrap w">

    <div class="introduction-wrap clearfix">
      <div class="product-img-content">
        <div class="product-img-big">
          <img src="http://img.happymmall.com/2f1b3de1-1eb1-4c18-8ca2-518934931bec.jpeg" alt="">
        </div>
        <ul class="product-img-list clearfix">
          <li class="product-img-item">
            <img src="http://img.happymmall.com/173335a4-5dce-4afd-9f18-a10623724c4e.jpeg" alt="">
          </li>
          <li class="product-img-item">
            <img src="http://img.happymmall.com/42b1b8bc-27c7-4ee1-80ab-753d216a1d49.jpeg" alt="">
          </li>
          <li class="product-img-item">
            <img src="http://img.happymmall.com/2f1b3de1-1eb1-4c18-8ca2-518934931bec.jpeg" alt="">
          </li>
        </ul>
      </div>
      <div class="product-info-content">
        <h3 class="prod-info-name">测试学习使用】Haier/海尔HJ100-1HU1 10公斤滚筒洗衣机全自动带烘干大容量 洗烘一体 厨卫家电</h3>
        <p class="prod-info-subtitle">门店机型 德邦送货</p>
        <div class="prod-info-item">
          <span class="prod-label">价格：</span>
          <span class="prod-price-info">￥: 4888</span>
        </div>
        <div class="prod-info-item">
          <span class="prod-label">库存：</span>
          <span class="prod-info">23</span>
        </div>
        <div class="prod-info-item">
          <span class="prod-label">数量：</span>
          <input type="num" value="1">
          <span class="prod-plus prod-info-position">+</span>
          <span class="prod-minus prod-info-position">-</span>
        </div>
        <div class="btn btn-submit">加入购物车</div>

      </div>
    </div>
    
    <div class="detail-wrap">
      <ul class="detail-tab-list clearfix">
        <li class="detail-tab-item active">详细描述</li>
        <li class="detail-tab-item">详细描述</li>
        <li class="detail-tab-item">详细描述</li>
      </ul>
      <div class="detail-content">
        
      </div>
    </div>
    
  </div>


  <%= require('html-loader!./layout/footer.html') %>
</body>
</html>