<!DOCTYPE html>
<html>
  <head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title %> -- k.buy电商平台demo</title>
  </head>
<body>
  <%= require('html-loader!./layout/nav.html') %>
  <%= require('html-loader!./layout/head-search.html') %>
  <div class="nav-bar">
    <div class="w">
      <div class="nav-bar-content">
        <a class="link-text" href="./index.html" title="">K.Buy</a>
        <span>&gt;</span>
        <span class="link-text"><%= htmlWebpackPlugin.options.title %></span>
      </div>
    </div>
  </div>

  <div class="page-wrap w">
    <!-- 排序 -->
    <ul class="sort-content clearfix">
      <li class="sort-item active" data-type='default'>默认排序</li>
      <li class="sort-item" data-type='price'>
        <span>价格</span>
          <i class="fa fa-sort-asc"></i>
          <i class="fa fa-sort-desc"></i>
      </li>
    </ul>

    <!-- 产品容器 -->
    <ul class="product-content clearfix">
      
    </ul>
    <!-- 分页 -->
    <div class="pagination"></div>
  </div>
  <%= require('html-loader!./layout/footer.html') %>
</body>
</html>