<!DOCTYPE html>
<html>
  <head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title %> -- k.buy电商平台demo</title>
  </head>
<body>
  <%= require('html-loader!./layout/nav.html') %>
  <%= require('html-loader!./layout/head-search.html') %>
  <div class="nav-bar">
    <div class="w">
      <div class="nav-bar-content">
        <a class="link-text" href="./index.html" title="">K.Buy</a>
        <span>&gt;</span>
        <span class="link-text"><%= htmlWebpackPlugin.options.title %></span>
      </div>
    </div>
  </div>

  <div class="page-wrap w">

    <div class="panel">
      <div class="panel-title">收货地址</div>
      <div class="panel-body address-content clearfix">
        
      </div>
    </div>

    <div class="panel">
      <div class="panel-title">商品清单</div>
      <div class="panel-body product-content">
        
      </div>
    </div>
    
    <!-- 分页 -->
    <div class="pagination"></div>
  </div>

  <!-- 地址表单 -->
  <div class="form-wrap">
  </div>
  

  <%= require('html-loader!./layout/footer.html') %>
</body>
</html>