<!DOCTYPE html>
<html>
  <head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title %> -- k.buy电商平台demo</title>
  </head>
<body>
  <%= require('html-loader!./layout/nav.html') %>
  <%= require('html-loader!./layout/head-search.html') %>
    <div class="page-wrap">
      <div class="user-content">
        <div class="user-title">找回密码</div>
        <div class="user-box">
          <div class="user-status error">
            <i class="fa fa-minus-circle" aria-hidden="true"></i>
            <span></span>
          </div>
          <div class="user-item" id="step-username">
            <p class="user-item-text">请输入用户名：</p>
            <label class="user-label" for="username">
              <i class="fa fa-user"></i>
            </label>
            <input class="user-input" type="text" name="" id="username" placeholder="请输入用户名" autocomplete="off" autofocus="autofocus">
            <a class="btn btn-submit" id="submit-username">下一步</a>
          </div>

          <div class="user-item" id="step-answer">
            <p class="user-item-text">密码提示问题：<span class="question"></span></p>
            <label class="user-label" for="password">
              <i class="fa fa-key"></i>
            </label>
            <input class="user-input" type="text" name="" id="answer" placeholder="请输入答案" autocomplete="off" autofocus="autofocus">
            <a class="btn btn-submit" id="submit-answer">下一步</a>     
          </div>
          
          <div class="user-item" id="step-new-password">
            <p class="user-item-text">请输入新的密码：</p>
            <label class="user-label" for="password">
              <i class="fa fa-lock"></i>
            </label>
            <input class="user-input" type="password" name="" id="password" placeholder="新的密码" autocomplete="off" autofocus="autofocus">
            <a class="btn btn-submit" id="submit-new-password">下一步</a>     
          </div>

          <div class="link-item">
            <a href="./user-login.html" class="link" target="_blank">返回登陆 &gt;&gt;</a>
          </div>
        </div>
      </div>
    </div>
  <%= require('html-loader!./layout/footer.html') %>
</body>
</html>