<footer>
  <div class="w">
    <div class="links">
      <a href="https://www.jianshu.com" class="link" target="_blank">简书</a>
      <a href="https://juejin.im" class="link" target="_blank">掘金</a>
      <a href="https://github.com" class="link" target="_blank">Github</a>
      <a href="https://www.douban.com" class="link" target="_blank">豆瓣</a>
      <a href="https://www.zhihu.com" class="link" target="_blank">知乎</a>
    </div>
    <div class="copyright">Copyright &copy; 2017 all rights reserved 邓业凯</div>
  </div>
  
</footer>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>