<div class="nav">
  <div class="w">
    <div class="user-info">
      <span class="user not-login">
        <span class="link js-login">登陆</span>
        <span class="link js-register">注册</span>
      </span>
      <span class="user login">
        <span class="link-text js-login">
          欢迎，<span class="user-name"></span>
        </span>
        <span class="link js-register">退出</span>
      </span>
    </div>

    <!-- 导航链接 -->
    <ul class="nav-list">
      <li class="nav-item">
        <a class="link" href="./cart.html" title="">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          购物车 [<span class="car-count">0</span>]
        </a>
        
      </li>
      <li class="nav-item">
        <a class="link" href="./order-list.html" class="link">我的订单</a>
      </li>
      <li class="nav-item">
        <a class="link" href="./user-center.html" class="link">我的K.Buy</a>
      </li>
      <li class="nav-item">
        <a class="link" href="./about.html" class="link">关于K.Buy</a>
      </li>
    </ul>
  </div>
</div>